@import "../../theme/variables.scss";

$inputBorder: 2px solid #000;

.Input {
  line-height: 1.5;
  flex: 1 0 100px;
  width: 0;
  border: $inputBorder;
  padding: 0 5px;
  min-width: 32px;
  &:focus + .skill-list {
    visibility: visible;
    opacity: 1;
  }
}