@import "../../theme/variables.scss";

$inputBorder: 2px solid $inverse-bg;

.Input {
  line-height: 1.5;
  border: $inputBorder;
  padding: 0 5px;
  color: $inverse-bg;
  width: 100%;
  display: block;
  font-size: 1.5rem;
  line-height: 2rem;

  &--textarea {
    resize: none;
  }

  &--select {
    border-radius: 0;
    -webkit-border-radius: 0px;
  }

  &--checkbox {
    position: absolute;
    clip: rect(0,0,0,0);
  }

  &--checkbox + &-fauxCheckbox {
    position: relative;
    display: block;
    width: 22px;
    height: 22px;
    border: $inputBorder;
    background-color: #fff;
    cursor: pointer;
  }

  &--checkbox:checked + &-fauxCheckbox:before {
    content: '';
    width: 14px;
    height: 14px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: $inverse-bg;
  }
}

.Label {
  position: relative;
  vertical-align: middle;
  display: block;
  margin: 0;
  font-size: 1.5rem;

  &--inline {
    display: inline-flex;
  }

  &--inline &-text {
    margin-right: 1rem;
  }

  &-inputWrap {
    position: relative;
  }

  &-superscript {
    position: absolute;
    font-size: 1.8rem;
    font-weight: bold;
    left: 0;
    top: 0;
    font-style: normal;
    z-index: 1;
    text-shadow: 2px 2px 0 #fff, -2px -2px 0 #fff, -2px 2px 0 #fff, 2px -2px 0 #fff;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    &--after {
      left: 100%;
    }
  }

  &--inherit {
    display: block;
    font-size: inherit;
    font-weight: inherit;

    input {
      line-height: inherit;
      font-weight: inherit;
      border: 0;
      border-bottom: $inputBorder;
      padding: 0;
      color: inherit;
      background-color: transparent;
      display: inline-block;
      font-size: inherit;
      line-height: inherit;
    }
  }
}
