@import "../../theme/variables.scss";

.UserProfile {
  padding-top: 1rem;

  &_photo_img {
    width: 10rem;
    max-width: 100%;
    min-height: 5rem;
    background-color: $brand-warning;
    border: 0;
    border-radius: 50%;
  }
}
