@import "../../theme/variables.scss";

.Editable {
  display: inline-block;
  position: relative;
  vertical-align: text-bottom;

  &__block {
    display: block;
  }
    
  &__block &_content {
    display: block;
  }

  &_input,
  &_input input,
  &_input textarea{
    line-height: inherit;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
  }

  &_content {
    display: inline;
    border-bottom: $inputBorder;
    border-bottom-style: dashed;
    border-bottom-color: $brand-primary;
  }

  &_form.Editable-form {
    display: inline-flex;
    margin-top: 0;
    margin-bottom: 0;
    align-items: baseline;
    vertical-align: text-top;
  }
}
