@import "../../theme/variables.scss";

.Blocks {
  position: relative;
  
  &_list {
    display: flex;
    flex-wrap: wrap;
  }

  & .Blocks_notLoggedIn {
    margin: 2rem $padding-large-horizontal 1rem $padding-large-horizontal;
    width: 100%;
  }

  &_item {
    flex: 1 0 360px;
    min-width: 360px;
    padding: $padding-large-vertical*2 $padding-large-horizontal;
  }

  &_actions {
    text-align: right;

    button {
      margin-left: $padding-base-horizontal;
    }
  }
}