@import "../../theme/variables.scss";

.Blocks {
  position: relative;
  display: flex;
  flex-wrap: wrap;

  & .Blocks-notLoggedIn {
    margin: 2rem $padding-large-horizontal 1rem $padding-large-horizontal;
    width: 100%;
  }

  &-item {
    flex: 1 0 400px;
    min-width: 400px;
    padding: $padding-large-vertical $padding-large-horizontal;
  }
  &-actions {
    text-align: right;

    button {
      margin-left: $padding-base-horizontal;
    }
  }
}