@import "../../theme/variables.scss";

.Blocks {
  position: relative;
  display: flex;
  flex-wrap: wrap;

  &-item {
    padding: $padding-large-vertical $padding-large-horizontal;
  }
  &-actions {
    text-align: right;

    button {
      margin-left: $padding-base-horizontal;
    }
  }
}