@import "../../theme/variables.scss";

.FormGroup {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  margin: $padding-base-vertical ($padding-base-horizontal * -1);

  &__noWrap {
    flex-wrap: no-wrap;
  }

  &__alignRight {
    justify-content: flex-end;
  }

  &__verticalCenter {
    align-items: center;
  }

  &__noVerticalMargin {
    margin-top: 0;
    margin-bottom: 0;
  }

  &__noVerticalMargin &_item {
    margin-top: 0;
    margin-bottom: 0;
  }

  &_item {
    min-width: 1px;
    padding: 0 $padding-base-horizontal;
    margin: $padding-base-vertical 0;

    &__flexible {
      flex: 1 1 100px;
    }
    &__full {
      width: 100%;
    }
  }

  &_item__full + &_item {
    margin-left: 0;
  }
}