@import "../../theme/variables.scss";

.FormGroup {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  margin: $padding-large-vertical ($padding-base-horizontal * -1);

  &-item {
    min-width: 1px;
    padding: 0 $padding-base-horizontal;

    &--flexible {
      flex: 1 1 100px;
    }
    &--full {
      width: 100%;
      margin-bottom: 1rem;
    }
  }

  &-item--full + &-item {
    margin-left: 0;
  }
}