@import "../../theme/variables.scss";

.FormGroup {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0;

  &-item {

    &--flexible {
      flex: 1 1 auto;
    }
    &--full {
      width: 100%;
      margin-bottom: 1rem;
    }
  }

  &-item + &-item {
    margin-left: 1rem;
  }

  &-item--full + &-item {
    margin-left: 0;
  }
}