/**
 *  Define scss variables here.
 *
 *  Available options for Bootstrap:
 *  http://getbootstrap.com/customize/
 *
 */

// Custom Colors
$cyan: #33e0ff;
$humility: #777;

// Bootstrap Variables
$brand-primary: darken(#428bca, 6.5%);
$brand-secondary: #e25139;
$brand-success: #5cb85c;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;
$brand-info: #5bc0de;

$inverse-bg: #111;

$padding-base-vertical: 1px;
$padding-large-vertical: 10px;
$padding-base-horizontal: 10px;
$padding-large-horizontal: 20px;

$btn-default-bg: $inverse-bg;
$btn-border-radius-base: 0;

$inputBorder: 2px solid $inverse-bg;
$btn-clipping-size: 8px;
$clip-top-right: polygon(0 0, 0 100%, 100% 100%, 100% #{$btn-clipping-size}, calc(100% - #{$btn-clipping-size}) 0);
$clip-bottom-left: polygon(0 0, 0 calc(100% - #{$btn-clipping-size}), #{$btn-clipping-size} 100%, 100% 100%, 100% 0 );

$text-color: #333;

$font-size-base: 14px;
$font-family-sans-serif: "Helvetica Neue", Helvetica, sans-serif;
