@import "../../theme/variables.scss";

.EditSheet {

  &_form {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: stretch;
    margin: $padding-large-vertical 0;
  }

  &_refreshInput {
    width: 130px;
  }

  &_image {
    width: 100%;
    max-width: 300px;
  }

  &_imageBlock,
  &_descriptionBlock,
  &_aspectsBlock,
  &_skillsBlock,
  &_extrasBlock,
  &_stuntsBlock,
  &_stressBlock,
  &_consequencesBlock {
    width: 100%;
    padding: $padding-large-vertical $padding-base-horizontal;

    h2 {
      margin-top: 0;
    }
  }

  &_heading {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 $padding-base-horizontal;
    padding: 0;

    > div {
      flex: 3 0 300px;
      margin: $padding-base-vertical $padding-base-horizontal;

      + div {
        flex: 0 0 auto;
      }
    }

    label {
      display: flex;
      align-items: center;

      > div {
        flex: 1 1 auto;
        margin-left: 0.5rem;
      }
    }
  }

  &_skill {
    strong {
      margin-right: 2rem;
    }
  }

  &_stressBox + &_stressBox {
    margin-left: 1rem;
  }

  &_actions {
    width: 100%;
    text-align: right;
    margin: $padding-large-vertical $padding-base-horizontal;

    button {
      margin-top: $padding-base-vertical;
      margin-bottom: $padding-base-vertical;
      margin-left: $padding-base-horizontal;
    }
  }
}

@media screen and (min-width: $tabletPortrait) {

  .EditSheet {
    &_aspectsBlock,
    &_skillsBlock,
    &_extrasBlock,
    &_stuntsBlock,
    &_stressBlock,
    &_consequencesBlock {
      width: 50%;
    }
    
    &_imageBlock {
      width: 30%;
    }
    &_imageBlock + &_descriptionBlock, {
      width: 70%;
    }
  }
}
