@import "../../theme/variables.scss";

.EditSheet {
  padding-left: $padding-base-horizontal;
  padding-right: $padding-base-horizontal;

  &-heading {
    display: flex;

    > div {
      flex: 1 1 auto;

      + div {
        flex: 0 1 auto;
        margin-left: 2rem;
      }
    }

    label {
      display: flex;
      align-items: baseline;

      > div {
        flex: 1 1 auto;
        margin-left: 0.5rem;
      }
    }
  }

  &-skill {
    strong {
      margin-right: 2rem;
    }
  }

  &-stressBox + &-stressBox {
    margin-left: 1rem;
  }

  &-actions {
    text-align: right;

    button {
      margin-left: $padding-base-horizontal;
    }
  }
}