@import "../../theme/variables.scss";

.SheetBlock {

  h2 {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 0;

    span {
      flex: 0 0 auto;
    }
  }

  &::after {
    display: block;
    content: '';
    margin-top: $padding-base-horizontal;
    border-top: $btn-clipping-size solid $inverse-bg;
    border-right: $btn-clipping-size solid transparent;
  }

  .Aspect-main {
    font-weight: bold;
  }

  .Aspect-trouble {
    font-style: italic;
  }

  &-image-description-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 $padding-base-horizontal*-1 $padding-large-vertical $padding-base-horizontal*-1
  }

  &-imageBlock {
    position: relative;
    flex: 1 0 200px;
    margin: 0 $padding-base-horizontal $padding-large-vertical $padding-base-horizontal
  }
  
  &-image {
    width: 100%;
  }

  &-description {
    min-width: 300px;
    flex: 2 0 300px;
    margin: 0 $padding-base-horizontal
  }

  &-note {
    display: inline-block;
    font-size: 10px;
    line-height: inherit;
  }

  &-stressBox + &-stressBox {
    margin-left: 1rem;
  }

  &-superscript {
    position: absolute;
    font-size: 1.8rem;
    font-weight: bold;
    left: 0;
    top: 0;
    font-style: normal;
    z-index: 1;
    text-shadow: 2px 2px 0 #fff, -2px -2px 0 #fff, -2px 2px 0 #fff, 2px -2px 0 #fff;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

}