@import "../../theme/variables.scss";

.SheetList {
  &_item {
    &:hover {
      background-color: #f2f2f2;
    }

    &_select_label {
      display: inline;
    }

    &_user {
      margin-left: $padding-base-horizontal;
    }

    &_title {
      flex: 1 1 auto;
      font-weight: bold;
    }

    &_created {
      display: none;
    }

    &_actions {
      text-align: right;
      margin: $padding-base-vertical*-1 0;
      margin-left: $padding-base-horizontal;
      button {
        margin-top: $padding-base-vertical;
        margin-bottom: $padding-base-vertical;
      }
    }
  }

  &_openAll {
    text-align: center;
    margin-top: $padding-large-horizontal;
  }
  @media (min-width: $tabletPortrait) {
    &_item_created {
        display: block;
    }
  }
}
