@import "../../theme/variables.scss";

.SheetList {

  &-item {
    padding: $padding-base-horizontal 0;
    border-bottom: 2px solid #000;
    display: flex;

    &:hover {
      background-color: #f2f2f2;
    }

    &-select {
      margin-right: $padding-base-horizontal;
    }

    &-title {
      flex: 1 1 auto;
      font-weight: bold;
    }

    &-actions {
      text-align: right;
      margin: $padding-base-vertical*-1 0;
      margin-left: $padding-base-horizontal;
      button {
        margin-top: $padding-base-vertical;
        margin-bottom: $padding-base-vertical;
      }
    }
  }

  &-openAll {
    text-align: center;
    margin-top: $padding-large-horizontal;
  }
}