@import "../../theme/variables.scss";

.app {
  .brand {
    position: absolute;
    $size: 40px;
    top: 5px;
    left: 5px;
    display: inline-block;
    background: transparent url('./fate.svg') no-repeat center center;
    width: 40px;
    height: 36px;
    background-size: 100%;
    margin: 0 10px 0 0;
    border-radius: 0;
  }
  nav :global(.fa) {
    font-size: 2em;
    line-height: 20px;
  }

}

.appContent {
  margin: 50px 0; // for fixed navbar
}

h2, h3 {
  position: relative;
  text-transform: uppercase;
  margin: $padding-large-vertical*2 0 $padding-large-vertical 0;
  font-size: 14px;
  line-height: 18px;
}

h2 {
  background-color: $inverse-bg;
  color: #fff;
  padding: $padding-base-vertical ($padding-base-horizontal + $btn-clipping-size) $padding-base-vertical $padding-base-horizontal;
  clip-path: $clip-top-right;
}

h3 {
  color: $inverse-bg;

  &::before {
    display: block;
    content: '';
    margin-bottom: $padding-base-horizontal;
    border-bottom: $btn-clipping-size solid $inverse-bg;
    border-right: $btn-clipping-size solid transparent;
  }
}

a, a:hover {
  text-decoration: none;
}

.loggedInMessage {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
