@import "../../theme/variables.scss";

.Breadcrumbs {
  border-bottom: $inputBorder;
  padding: $padding-base-vertical $padding-base-horizontal;
  font-size: 1.5rem;

  &_link button {
    min-width: 2rem;
    text-align: center;
  }

  &_divider {
    display: inline-block;
    vertical-align: bottom;
    height: 2.5rem;
    line-height: 2.5rem;
    margin: 0 $padding-base-horizontal;
  }
  
  &_text {
    vertical-align: bottom;
    display: inline-block;
    height: 2.5rem;
    line-height: 2.5rem;
  }
}

@keyframes delayedReveal {
  0% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
